name: Release CommitPal

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Set jpackage type for Linux
      if: runner.os == 'Linux'
      run: echo "JPACKAGE_TYPE=deb" >> $GITHUB_ENV

    - name: Set jpackage type for Windows
      if: runner.os == 'Windows'
      run: echo "JPACKAGE_TYPE=msi" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

    - name: Set jpackage type for macOS
      if: runner.os == 'macOS'
      run: echo "JPACKAGE_TYPE=dmg" >> $GITHUB_ENV
      
    - name: Build with Maven
      run: mvn -B package -D T
      
    - name: Rename artifact on Linux
      if: runner.os == 'Linux'
      run: |
        mv target/installer/*.deb target/installer/CommitPal-linux-amd64.deb
        
    - name: Rename artifact on Windows
      if: runner.os == 'Windows'
      run: |
        mv target/installer/*.msi target/installer/CommitPal-windows-amd64.msi

    - name: Rename artifact on macOS
      if: runner.os == 'macOS'
      run: |
        mv target/jpackage/*.dmg target/installer/CommitPal-macos-amd64.dmg
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: CommitPal-${{ runner.os }}
        path: target/installer/*

  release:
    needs: build
    runs-on: ubuntu-latest
    
    steps:
    - name: Get tag
      id: tag
      uses: dawidd6/action-get-tag@v1

    - name: Download all artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts/

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false

    - name: Upload Release Assets
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: artifacts/CommitPal-Windows/CommitPal-windows-amd64.msi
        asset_name: CommitPal-windows-amd64.msi
        asset_content_type: application/x-msi

    - name: Upload Release Assets
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: artifacts/CommitPal-Linux/CommitPal-linux-amd64.deb
        asset_name: CommitPal-linux-amd64.deb
        asset_content_type: application/vnd.debian.binary-package

    - name: Upload Release Assets
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: artifacts/CommitPal-macOS/CommitPal-macos-amd64.dmg
        asset_name: CommitPal-macos-amd64.dmg
        asset_content_type: application/x-apple-diskimage
